---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <h1>My Astro Site</h1>
        <h1>This is the blog</h1>
        <h2>Welcome to my blog</h2>
      
        <p>tres tristes tigres comen trigo en un trigal</p>
      
        <p> writing in the blog</p>
      </body>
</html>